body{
    padding: 20px;
    margin: 0px;
}

.counter {
    width: 150px;
    height: 100px;
    border: 2px solid grey;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 20px;
}